// place your custom styles here
@font-face {
  font-family: bobohei;
  src: url("/JavaPark/font/LXGWWenKaiScreen.ttf");
}

.navbar {

  .site-name {
    background-color: var(--theme-color);
    position: relative;
    color: transparent;
    background-clip: text;
  }

  .site-name::after {
    content: 'JavaPark';
    position: absolute;
    left: 0;
    top: -6px;
    background-image: linear-gradient(120deg, transparent 0%, transparent 1rem, white 2rem, transparent 3.15rem, transparent 100%);
    background-clip: text;
    background-size: 200% 120%;
    background-repeat: no-repeat;
    animation: shine 5s infinite linear;
  }

  @keyframes shine {
    0% {
      background-position: 50% 0;
    }

    100% {
      background-position: -190% 0;
    }
  }
}